<div class="section-content mt-2">
  <div class="row">
    <div class="col" *ngIf="!loading">
      <p class="text-info" *ngIf="!triggers.length">Esta alarma no tiene historial</p>

      <div class="mb-3" *ngIf="triggers.length">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Tipo</th>
            <th>Medición</th>
            <th>Fecha</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let trigger of triggers; let i = index">
            <td>{{(page-1)*limit + i + 1}}</td>
            <td [ngClass]="{'text-success': trigger.type, 'text-danger': !trigger.type}">{{trigger.type ? 'Activación' : 'Desactivación'}}</td>
            <td>{{trigger.measurement.value}} {{unit}}</td>
            <td class="text-info">{{trigger.createdAt | date:'d/M/yy, h:mm a'}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <nav [hidden]="page == 1 && triggers.length < limit">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <button class="btn btn-light" [disabled]="page == 1 || subLoading" (click)="getPrev()">Anterior</button>
          </li>
          <li class="mr-auto"></li>
          <li *ngIf="subLoading"><i class="fa fa-spin fa-circle-o-notch text-muted fa-2x"></i></li>
          <li class="mr-auto"></li>
          <li class="page-item">
            <button class="btn btn-light" [disabled]="triggers.length < limit || subLoading" (click)="getNext()">Siguiente</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <div class="col" *ngIf="loading">
    <i class="fa fa-spin fa-circle-o-notch"></i>
  </div>
</div>
