<div class="row mt-2">
  <div class="col-lg-12" *ngIf="!alarms.length">
    <span class="text-info mt-2">Este sensor no tiene alarmas.</span>
  </div>

  <div class="col-lg-12" *ngIf="alarms.length">
    <div class="card mb-3">
      <table class="card-block table table-hover">
        <thead>
        <tr>
          <th></th>
          <th>Nombre</th>
          <th class="d-none d-md-table-cell">Tipo</th>
          <th class="d-none d-md-table-cell">Valor</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let alarm of alarms">
          <td width="10" ><i class="fa fa-{{alarm.icon}}"></i></td>
          <td>{{alarm.name}} <i class="fa fa-eye text-primary" *ngIf="isSubscribed(alarm.id)"></i></td>
          <td class="text-info d-none d-md-table-cell">{{parseAlarmType(alarm.type)}}</td>
          <td class="text-info d-none d-md-table-cell">{{alarm.value}}</td>
          <td [ngClass]="{'text-success': alarm.status, 'text-danger': !alarm.status}">{{alarm.status ? 'Lista' : 'Desactivada'}}</td>
          <td ngbDropdown placement="top-right" container="body">
            <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle [disabled]="subLoading"><i class="fa fa-cog" [ngClass]="{'fa-spin': subloading}"></i></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button
                *ngIf="isSubscribed(alarm.id)"
                class="dropdown-item"
                (click)="onUnsubscribe(alarm.id)"
                ><i class="fa fa-eye-slash"></i> Desuscribir
              </button>
              <button
                *ngIf="!isSubscribed(alarm.id)"
                class="dropdown-item"
                (click)="onSubscribe(alarm)"
              ><i class="fa fa-eye"></i> Suscribir
              </button>
              <button
                (click)="editAlarm.openEditModal(alarm, true)"
                class="dropdown-item"
                ><i class="fa fa-pencil"></i> Editar
              </button>
              <button
                *ngIf="alarm.status"
                class="dropdown-item"
                (click)="onDisableAlarm(alarm.id)"
                ><i class="fa fa-stop-circle"></i> Desactivar
              </button>
              <button
                *ngIf="!alarm.status"
                class="dropdown-item"
                (click)="onEnableAlarm(alarm.id)"
              ><i class="fa fa-play-circle"></i> Activar
              </button>
              <button
                (click)="onDeleteAlarm(alarm.id)"
                class="dropdown-item"
                ><i class="fa fa-trash"></i> Eliminar
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Dialog modal-->
<ng-template let-c="close" let-d="dismiss" #dm>
<div class="modal-body">
<p>{{dialogMessage}}</p>
  <button type="button" class=" float-right btn btn-outline-dark" (click)="c(true)">OK</button>
</div>
</ng-template>

<!--Confirm modal-->
<ng-template let-c="close" let-d="dismiss" #cm>
  <div class="modal-body">
    <p>¿Seguro que deseas <strong>{{confirmText}}</strong> la alarma?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="c(true)">Confirmar</button>
    <button type="button" class="btn btn-outline-dark" (click)="c(false)">Cancelar</button>
  </div>
</ng-template>

<app-alarm-edit [sensorUnit]="unit" [sensorId]="id" (onFinish)="onFinish($event)"></app-alarm-edit>
