<div class="section-content">
  <div class="alarm-detail-content" *ngIf="!loading">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-{{alarm.style}}">
            <span>
              <h2 class="text-white">
                <i class="fa fa-{{alarm.icon}} text-white"></i> &nbsp;{{alarm.name}}
                <div class="pull-right">
                  <div ngbDropdown placement="bottom-right">
                    <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle [disabled]="alLoading"><i class="fa fa-cog" [ngClass]="{'fa-spin': alLoading}"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  *ngIf="isSubscribed()"
                  class="dropdown-item"
                  (click)="onUnsubscribe(alarm.id)"
                ><i class="fa fa-eye-slash"></i> Desuscribir
                </button>
                <button
                  *ngIf="!isSubscribed()"
                  class="dropdown-item"
                  (click)="onSubscribe()"
                ><i class="fa fa-eye"></i> Suscribir
                </button>
                <button
                  (click)="onEditAlarm()"
                  class="dropdown-item"
                ><i class="fa fa-pencil"></i> Editar
                </button>
                <button
                  *ngIf="alarm.status"
                  class="dropdown-item"
                  (click)="onDisableAlarm()"
                ><i class="fa fa-stop-circle"></i> Desactivar
                </button>
                <button
                  *ngIf="!alarm.status"
                  class="dropdown-item"
                  (click)="onEnableAlarm()"
                ><i class="fa fa-play-circle"></i> Activar
                </button>
                <button
                  (click)="onDeleteAlarm()"
                  class="dropdown-item"
                ><i class="fa fa-trash"></i> Eliminar
                </button>
              </div>
                  </div>
                </div>
              </h2>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h5 class="text-muted">Información</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-9 col-lg-10">
        <div class="card border-{{alarm.style}} mb-3">
          <div class="card-header bg-transparent" style="min-height: 7.5rem;">
            {{alarm.description}}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-2">
        <div class="card border-{{alarm.style}} mb-3">
          <div class="card-header bg-transparent small" style="min-height: 7.5rem;">
            <span class="d-block">Criterio: <span class="text-success">{{parseAlarmType(alarm.type)}}</span></span>
            <span class="d-block">Valor: <span class="text-info">{{alarm.value}} {{alarm.sensor.unit}}</span></span>
            <span class="d-block">Estado: <span [ngClass]="{'text-success': alarm.status, 'text-danger': !alarm.status}">{{alarm.status ? 'Lista' : 'Desactivada'}}</span></span>
            <span class="d-block">Creado: <span class="text-info">{{alarm.createdAt | date:'d/M/yy'}}</span></span>
            <span class="d-block">Editado: <span class="text-info">{{alarm.updatedAt | date:'d/M/yy'}}</span></span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h5 class="text-muted">Historial</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-alarm-detail-history [id]="id" [unit]="alarm.sensor.unit"></app-alarm-detail-history>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="loading">
    <div class="col-lg-12">
      <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
    </div>
  </div>
</div>

<!--Dialog modal-->
<ng-template let-c="close" let-d="dismiss" #dm>
  <div class="modal-body">
    <p>{{dialogMessage}}</p>
    <button type="button" class=" float-right btn btn-outline-dark" (click)="c(true)">OK</button>
  </div>
</ng-template>

<!--Confirm modal-->
<ng-template let-c="close" let-d="dismiss" #cm>
  <div class="modal-body">
    <p>¿Seguro que deseas <strong>{{confirmText}}</strong> la alarma?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="c(true)">Confirmar</button>
    <button type="button" class="btn btn-outline-dark" (click)="c(false)">Cancelar</button>
  </div>
</ng-template>

<app-alarm-edit (onFinish)="onFinish($event)"></app-alarm-edit>
