<header class="navbar navbar-dark navbar-expand-lg bg-primary fixed-top">
  <a class="navbar-brand mr-0 mr-md-2 pointer" routerLink="/dashboard/card">
    <img src="/assets/fish-icon.svg" width="39" height="39" class="d-inline-block align-top">
    <span class="app-title"> &nbsp; AQuaponics UDP</span>
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
    <i class="fa fa-bars fa-fw"></i>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mt-2 mt-md-0">
      <li class="nav-item dropdown pointer" ngbDropdown placement="bottom-right">
        <a class="nav-link pointer" ngbDropdownToggle>
          <i class="fa fa-bell" [ngClass]="{'shake': activeAlarms.length}"></i><i class="caret"></i>
        </a>

        <ul class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item">Alarmas &nbsp;<span class="badge badge-warning"> {{activeAlarms.length}}</span></a>
        </ul>
      </li>


      <li class="nav-item dropdown pointer" ngbDropdown placement="bottom-right">
        <a class="nav-link" ngbDropdownToggle>
          &nbsp; {{auth.user.name}} <b class="caret"></b>
        </a>

        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item"><i class="fa fa-fw fa-user"></i> {{ 'Perfil' }}</a>
          <a class="dropdown-item"><i class="fa fa-fw fa-gear"></i> {{ 'Preferencias' }}</a>
          <a class="dropdown-item" [routerLink]="['/login']" (click)="onSignOut()"><i class="fa fa-fw fa-power-off"></i> {{ 'Salir' }} </a>
        </div>
      </li>
    </ul>
  </div>
</header>
